##  Telegram @Itz_Your_4Bhi  ##
##  Copyright ©️ 2025  ##


# api id and api hash (my.telegram.org)
# required
API_ID='7249983'
API_HASH='be8ea36c220d5e879c91ad9731686642'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQBuoD8AmKGefkT1tkHlspTmv4Lkf8EZrOiQZqJNAqM26AWV-qTOE3fiKSpXDE1Vlz_lCI4MWxJ0vJXHJDU4VsYRgerF8X9jngdiXYGKD-XrheVM0M0l6j9YTGeqK7XGBSVRt75SZJbzDcnaXnwE4jh3a6QbXI2oYi4B58z8sakPVUByhtg0d4ik4esHsNUWhRCiY7nmnz3C0nC0Wu8iq8S57lSz5GZ7hWPUTt4CL-4zWzFNcwZrbv3jyuKYUl5_2fLS_yRvPTDbZrspnEME2qinXrGcPUE5U5WbN9P5EBxQOZLmgBEeF_-P_AJX8f12lAmaYpxBCD4BeJeOFNXkWlwzoZhi1gAAAAFklkDwAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''

# sudo user ids (separate with space)
# optional
SUDOERS='7143123520'

# command prefix (separate with space)
# optional
PREFIX='/'

# default language for the bot in groups
# optional
LANGUAGE=''

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE=''

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
